 <footer>
      <div class="footer-Container">
        <div id="footer-Login">
          <a href="http://">Sign In</a>
        </div>
        <section class="Power-By-SIMKL">
          <div class="CopyRight-Container">
            <div><p>Anime Countdown is powered by data from:</p></div>
            <a href=""><img src="../img/SIMKLlogo.png" alt="" /></a>
            <div class="copyright-Date-Text">
              <p>
                © 2023 SIMKL <br />
                ALL RIGHTS RESERVED
              </p>
            </div>
            <div class="copyright-Info">
              <a href="http://">Terms</a>
              <a href="">Privacy Policy</a>
            </div>
          </div>
        </section>
        <main>
          <div class="footer-CD-collum">
            <h6>Popular anime</h6>
            <div class="footer-CD">
              <a href="http://">One Piece</a>
              <a href="http://">Jujutsu Kaisen</a>
              <a href="http://">Zom 100: Bucket List of the Dead</a>
              <a href="http://">
                Mushoku Tensei: Jobless Reincarnation Season 2</a
              >
              <a href="http://"> Am I Actually the Strongest?</a>
              <a href="http://">Bleach: Thousand-Year Blood War</a>
              <a href="http://">My Unique Skill Makes Me OP Even at Level 1</a>
            </div>
          </div>
          <div class="footer-CD-collum">
            <h6>Upcoming anime</h6>
            <div class="footer-CD">
              <a href="http://">Sand Land</a>
              <a href="http://">Naruto</a>
              <a href="http://">Gekijouban City Hunter: Angel Dust</a>
              <a href="http://"> FLCL: Grunge</a>
              <a href="http://">Alice to Teles no Maboroshi Koujou </a>
              <a href="http://">Eiga Precure All Stars F</a>
              <a href="http://">A Girl & Her Guard Dog </a>
            </div>
          </div>
          <div class="footer-CD-collum">
            <h6>Airing soon</h6>
            <div class="footer-CD">
              <a href="http://">The Devil Is a Part-Timer!</a>
              <a href="http://"
                >The Most Heretical Last Boss Queen: From Villainess to Savior
              </a>
              <a href="http://">Rurouni Kenshin</a>
              <a href="http://">The Great Cleric </a>
              <a href="http://">Pokemon Horizons: The Series </a>
              <a href="http://">Sugar Apple Fairy Tale</a>
              <a href="http://">Hyakushou Kizoku </a>
            </div>
          </div>
        </main>
      </div>
    </footer>
  </body>
</html>
