</head>
  <body>
    <div class="rgb">
      <input type="checkbox" name="rgb" id="rgbswitch" class="rgbtoggle">
    <label for="rgbswitch"></label>
    </div>
    
    <header id="countdown-Header">
      <div id="header-Container">
        <div id="logo"><img src="../img/logo.png" alt="" /></div>
        <nav id="Header-Nav">
          <div id="search-Box">
            <input type="text" name="" id="" placeholder="Search" />
            <a href="">Sign In</a>
          </div>

          <ul class="Header-Nav__List">
            <li><a href="">MY COUNTDOWNS</a></li>
            <li><a href="">TRENDING</a></li>
            <li><a href="">UPCOMING</a></li>
            <li><a href="">AIRING SOON</a></li>
            <li><a href="">RECENTLY AIRED</a></li>
            <li><a href="">LATEST PREMIERES</a></li>
          </ul>
        </nav>
      </div>
    </header>

