<%- include('partials/include.ejs'); %>
<link rel="stylesheet" href="css/sub-page.css">
</head>
  <body>
<%- include('partials/header.ejs'); %>


<div id="countdown_Container">
      <div id="countdown">
        <h1>Anime Countdown, Schedule, and Release Dates.</h1>
        <h5>Anime timers and charts for Summer 2023 anime and beyond.</h5>
        <main id="countdown-Body">
          <section class="countdown-Body__columns">
            <article class="anime-CountDowns">
              <a href="">
                <div class="countdownBox">
                  <div class="CD_Details">
                    <h1 class="CD_Details-Title">ONE PIECE</h1>

                    <h3 class="CD_Details-Episode">Episode-1700</h3>
                    <div class="CD_Details-Time">
                      <div class="CD_Time">
                        <div class="CD_Time-Number">12</div>
                        <div class="CD_Time-Text">DAYS</div>
                      </div>
                      <div class="CD_Time">
                        <div class="CD_Time-Number">12</div>
                        <div class="CD_Time-Text">HOURS</div>
                      </div>
                      <div class="CD_Time">
                        <div class="CD_Time-Number">12</div>
                        <div class="CD_Time-Text">MINS</div>
                      </div>
                      <div class="CD_Time">
                        <div class="CD_Time-Number">12</div>
                        <div class="CD_Time-Text">SECS</div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            <% const todayDate = new Date() %> 
            
            
            <% for (let anime of arrayOfAiring) { %>
              <% const diff= anime.date - todayDate %>
             <% const date = convertMilliseconds(diff) %>
             
               
              <%- include('partials/sub-page-countdown',{anime,date}) %>
              <% } %>
              <a href="">Post</a>
              <a href="">Post</a>
              <a href="">Post</a>
              <a href="">Post</a>
            </article>
          </section>
        </main>
        <section class="About-CD">
          <h1>What is anime countdown?</h1>
          <p>
            Anime Countdown is an online resource for anime fans. Our website
            and apps provide an up-to-date schedule of upcoming anime releases,
            as well as a comprehensive calendar of past and future anime air
            dates. We also feature reviews and ratings of current and classic
            anime series, so you can always stay informed about the best anime
            streaming online. Whether you're a hardcore otaku or just getting
            started in the world of anime, Anime Countdown is your go-to source
            for everything related to Japanese animation!
            <br />
            <br />
            We know that keeping track of all the new anime can be daunting, so
            we've created an easy-to-use Anime Countdown schedule to help you
            stay up-to-date on the latest releases. Our calendar includes
            information about every upcoming anime series, from big-budget
            productions to obscure OVA's. To discover more anime you can use
            Simkl where you can filter the schedule for anime seasons by genre,
            release date, and even studio!
            <br />
            <br />
            We're constantly updating our website with the latest news and
            information about anime, so be sure to check back often! And don't
            forget to follow us on Simkl's discord for all the latest updates.
            Thanks for visiting Anime Countdown!
          </p>
          <h1>How long is a season of anime?</h1>
          <p>
            The 13 week "season" that refers to a time of year or when a show
            starts airing is sometimes referred to as an "airing" season or a
            "television" season. This is like "Winter 2013 season". But since
            shows sometime span different television seasons, even if it's 13
            episodes long, this run of a series can also be referred to as a
            "season".
            <br />
            <br />
            Sometimes shows get cut off, go on hiatus, or for whatever reasons
            (e.g. financial) have a significant break between certain episodes
            such that the TV series runs through multiple "television seasons"
            (e.g. Girls Und Panzer) yet the show itself is still referred to as
            the "first season", and this is sometimes referred to as a "cour" or
            "series". The usage of "season" comes down to semantics. Multiple
            "seasons" of a TV series can also be called "series", like Galaxy
            Angel and it's multiple (different lengths) "seasons" are sometimes
            called "series 1", "series 2", etc. "Cours" however, usually refer
            to a 12 or 13 stretch of episodes. So a 26 episode series can be
            referred to as "2 cours". <br />
            <br />
            But as far as the length of an anime "season", a 12 episode series
            run can be referred to as a "season", yet sometimes a 26, or 36, or
            201 (Gintama) episode run is called a "season". It's technically not
            tied to a specific length, which is why some people prefer to use
            "cours".
          </p>
          <h1>What are the 4 anime seasons?</h1>
          <p>
            When it comes to TV series, there are four anime seasons in Japan.
            They begin with the Winter anime season followed by Spring, Summer
            and Fall, and each season begins and ends at the same time every
            year. <br /><br />
            The time periods for each season are:
            <br />

            Winter season — January to March <br />Spring season — April to June
            <br />
            Summer season — July to September <br />Fall season — October to
            December <br />
            <br />
            Of course, not every anime series starts on the first day of a month
            or ends on the last one. <br />
            <br />

            Instead, they begin at various times throughout the three months,
            but usually in months one or two. Some will end within the same
            season, while others may not end until sometime in the following
            season, but will still be counted as part of the season they began
            in.
          </p>

          <h1>Is anime animated every week?</h1>
          <p>
            Television anime is aired on a weekly basis, but it is most
            definitely not produced on a weekly basis. Each episode of an anime
            series can have a least a six-month lead time from the moment of
            conception until the time of broadcast.
          </p>
          <h1>
            Anime Schedule by Anime Countdown is the best way to find out when
            your favorite anime airs!
          </h1>
          <p>
            Anime Schedule has you covered. We list all airing anime with both
            official release dates and times in your timezone, as well as links
            to watch them legally online. Never miss an episode again! <br />
            <br />
            With our sleek and easy-to-use interface, you can find the airing
            times for all of your favorite anime in just a few clicks. Plus, we
            have both English dubbed and subbed versions so you can watch them
            however you like. With Anime Schedule, you can keep track of
            everything that’s airing this season – and next season too!
          </p>
        </section>
      </div>
</div>


<%- include('partials/footer.ejs'); %>
